.pc
autom4te.cache
config.guess.dh-orig
config.sub.dh-orig
configure
stamps
build
build-*

Demo
Doc
Grammar
Include
LICENSE
Lib
Mac
Makefile.pre.in
Misc
Modules
Objects
PC
PCbuild
Parser
Programs
Python
README
RISCOS
Tools
aclocal.m4
config.guess
config.sub
configure.ac
install-sh
pyconfig.h.in
setup.py

debian/.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files

debian/idle-python3.5
debian/libpython3.5-dbg
debian/libpython3.5-dev
debian/libpython3.5-minimal
debian/libpython3.5-stdlib
debian/libpython3.5-testsuite
debian/libpython3.5
debian/python3.5-dbg
debian/python3.5-dev
debian/python3.5-doc
debian/python3.5-examples
debian/python3.5-minimal
debian/python3.5
debian/test_results
debian/tmp-dbg
debian/tmp-shdbg
debian/tmp

debian/README.Debian
debian/README.idle-python3.5
debian/README.maintainers
debian/README.python3.5
debian/idle-python3.5.1
debian/idle-python3.5.overrides
debian/idle-python3.5.postinst
debian/idle-python3.5.postrm
debian/idle-python3.5.prerm
debian/idle.desktop
debian/libpython.symbols
debian/libpython3.5-dbg.overrides
debian/libpython3.5-dbg.postinst
debian/libpython3.5-dbg.prerm
debian/libpython3.5-dbg.symbols
debian/libpython3.5-dev.overrides
debian/libpython3.5-minimal.overrides
debian/libpython3.5-minimal.postinst
debian/libpython3.5-minimal.postrm
debian/libpython3.5-minimal.prerm
debian/libpython3.5-stdlib.overrides
debian/libpython3.5-stdlib.prerm
debian/libpython3.5-testsuite.overrides
debian/libpython3.5-testsuite.prerm
debian/libpython3.5.overrides
debian/libpython3.5.symbols
debian/multiarch.h
debian/pdb.1
debian/pydoc.1
debian/python3.5-dbg.README.Debian
debian/python3.5-dbg.overrides
debian/python3.5-dbg.postinst
debian/python3.5-dbg.prerm
debian/python3.5-doc.doc-base.python3.5-api
debian/python3.5-doc.doc-base.python3.5-dist
debian/python3.5-doc.doc-base.python3.5-ext
debian/python3.5-doc.doc-base.python3.5-inst
debian/python3.5-doc.doc-base.python3.5-lib
debian/python3.5-doc.doc-base.python3.5-new
debian/python3.5-doc.doc-base.python3.5-ref
debian/python3.5-doc.doc-base.python3.5-tut
debian/python3.5-doc.overrides
debian/python3.5-examples.overrides
debian/python3.5-minimal.README.Debian
debian/python3.5-minimal.overrides
debian/python3.5-minimal.postinst
debian/python3.5-minimal.postrm
debian/python3.5-minimal.preinst
debian/python3.5-minimal.prerm
debian/python3.5.desktop
debian/python3.5.overrides
debian/python3.5.postinst
debian/python3.5.prerm
debian/sitecustomize.py
