.pc
autom4te.cache
config.guess.dh-orig
config.sub.dh-orig
configure
stamps
build
build-*

.azure-pipelines
Demo
Doc
Grammar
Include
LICENSE
Lib
Mac
Makefile.pre.in
Misc
Modules
Objects
PC
PCbuild
Parser
Programs
Python
README.rst
RISCOS
Tools
aclocal.m4
config.guess
config.sub
configure.ac
install-sh
pyconfig.h.in
setup.py

debian/.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/testdir

debian/idle-python3.6
debian/libpython3.6-dbg
debian/libpython3.6-dev
debian/libpython3.6-minimal
debian/libpython3.6-stdlib
debian/libpython3.6-testsuite
debian/libpython3.6
debian/python3.6-dbg
debian/python3.6-dev
debian/python3.6-doc
debian/python3.6-examples
debian/python3.6-minimal
debian/python3.6
debian/test_results
debian/tmp-dbg
debian/tmp-shdbg
debian/tmp

debian/README.Debian
debian/README.idle-python3.6
debian/README.maintainers
debian/README.python3.6
debian/idle-python3.6.1
debian/idle-python3.6.overrides
debian/idle-python3.6.postinst
debian/idle-python3.6.postrm
debian/idle-python3.6.prerm
debian/idle.desktop
debian/libpython.symbols
debian/libpython3.6-dbg.overrides
debian/libpython3.6-dbg.postinst
debian/libpython3.6-dbg.prerm
debian/libpython3.6-dbg.symbols
debian/libpython3.6-dev.overrides
debian/libpython3.6-minimal.overrides
debian/libpython3.6-minimal.postinst
debian/libpython3.6-minimal.postrm
debian/libpython3.6-minimal.prerm
debian/libpython3.6-stdlib.overrides
debian/libpython3.6-stdlib.prerm
debian/libpython3.6-testsuite.overrides
debian/libpython3.6-testsuite.prerm
debian/libpython3.6.overrides
debian/libpython3.6.symbols
debian/multiarch.h
debian/pdb.1
debian/pydoc.1
debian/python3.6-dbg.README.Debian
debian/python3.6-dbg.overrides
debian/python3.6-dbg.postinst
debian/python3.6-dbg.prerm
debian/python3.6-doc.doc-base.python3.6-api
debian/python3.6-doc.doc-base.python3.6-dist
debian/python3.6-doc.doc-base.python3.6-ext
debian/python3.6-doc.doc-base.python3.6-inst
debian/python3.6-doc.doc-base.python3.6-lib
debian/python3.6-doc.doc-base.python3.6-new
debian/python3.6-doc.doc-base.python3.6-ref
debian/python3.6-doc.doc-base.python3.6-tut
debian/python3.6-doc.overrides
debian/python3.6-examples.overrides
debian/python3.6-minimal.README.Debian
debian/python3.6-minimal.overrides
debian/python3.6-minimal.postinst
debian/python3.6-minimal.postrm
debian/python3.6-minimal.preinst
debian/python3.6-minimal.prerm
debian/python3.6.desktop
debian/python3.6.overrides
debian/python3.6.postinst
debian/python3.6.prerm
debian/sitecustomize.py
