.pc
autom4te.cache
config.guess.dh-orig
config.sub.dh-orig
configure
stamps
build
build-*

.azure-pipelines
CODE_OF_CONDUCT.md
Demo
Doc
Grammar
Include
LICENSE
Lib
Mac
Makefile.pre.in
Misc
Modules
Objects
PC
PCbuild
Parser
Programs
Python
README.rst
RISCOS
Tools
aclocal.m4
config.guess
config.sub
configure.ac
install-sh
m4
netlify.toml
pyconfig.h.in
setup.py

# Un-ignore anything that happens to match the above
!debian/**

debian/.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/testdir
debian/python3.10-doc.info

debian/idle-python3.10
debian/libpython3.10-dbg
debian/libpython3.10-dev
debian/libpython3.10-minimal
debian/libpython3.10-stdlib
debian/libpython3.10-testsuite
debian/libpython3.10
debian/python3.10-dbg
debian/python3.10-dev
debian/python3.10-doc
debian/python3.10-examples
debian/python3.10-minimal
debian/python3.10
debian/test_results
debian/tmp-dbg
debian/tmp-shdbg
debian/tmp

debian/README.Debian
debian/README.idle-python3.10
debian/README.maintainers
debian/README.python3.10
debian/idle-python3.10.1
debian/idle-python3.10.overrides
debian/idle-python3.10.postinst
debian/idle-python3.10.postrm
debian/idle-python3.10.prerm
debian/idle.desktop
debian/libpython.symbols
debian/libpython3.10-dbg.overrides
debian/libpython3.10-dbg.postinst
debian/libpython3.10-dbg.prerm
debian/libpython3.10-dbg.symbols
debian/libpython3.10-dbg.symbols.i386
debian/libpython3.10-dev.overrides
debian/libpython3.10-minimal.overrides
debian/libpython3.10-minimal.postinst
debian/libpython3.10-minimal.postrm
debian/libpython3.10-minimal.prerm
debian/libpython3.10-stdlib.overrides
debian/libpython3.10-stdlib.prerm
debian/libpython3.10-testsuite.overrides
debian/libpython3.10-testsuite.postinst
debian/libpython3.10-testsuite.prerm
debian/libpython3.10.overrides
debian/libpython3.10.symbols
debian/libpython3.10.symbols.i386
debian/multiarch.h
debian/pdb.1
debian/pydoc.1
debian/python3.10-dbg.README.Debian
debian/python3.10-dbg.overrides
debian/python3.10-dbg.postinst
debian/python3.10-dbg.prerm
debian/python3.10-doc.doc-base.python3.10-api
debian/python3.10-doc.doc-base.python3.10-dist
debian/python3.10-doc.doc-base.python3.10-ext
debian/python3.10-doc.doc-base.python3.10-inst
debian/python3.10-doc.doc-base.python3.10-lib
debian/python3.10-doc.doc-base.python3.10-new
debian/python3.10-doc.doc-base.python3.10-ref
debian/python3.10-doc.doc-base.python3.10-tut
debian/python3.10-doc.overrides
debian/python3.10-examples.overrides
debian/python3.10-minimal.README.Debian
debian/python3.10-minimal.overrides
debian/python3.10-minimal.postinst
debian/python3.10-minimal.postrm
debian/python3.10-minimal.preinst
debian/python3.10-minimal.prerm
debian/python3.10.desktop
debian/python3.10.overrides
debian/python3.10.postinst
debian/python3.10.prerm
debian/sitecustomize.py

debian/python3.10-venv.overrides
debian/python3.10-venv.*
debian/python3.10-venv


